h1{
    font-style: italic;
}

h4{
    font-style: italic;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#delete_this{
    text-decoration: line-through;
}
