<html>
    <head>
        <title>File Decoder 69000</title>
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <h1>ENCODE YOUR FILES!(Kinda)</h1>
        <p>
            Have you ever wanted to encode a file,only to add an error to the encoded message to be sent to the server on purpose for some cruel joke?Now you CAN.
            With the power of university student crunch time YOU can finally do exactly that,and get some interesting information back!All you have to do,is give the file
            as input and you shall receive the information you crave so much as output.Have fun!
        </p>
        <h4>NOTE: This little project uses the Huffman compression algorithm</h4>
        <h5>And yes we do know this looks like shit we dont have the time nor the graphic design skills to fix this.</h5>
        <form action = "/success" method = "post" enctype="multipart/form-data">  
            <input type="file" name="file" />  
            <input type = "submit" value="Upload">  
        </form>  
    </body>
</html>